

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ul class="category">
    <li>
        <a href="/TuitionFees/Create"><i class="fas fa-paperclip"></i> Create New</a> <span class="category-description"><i class="fas fa-angle-right"></i> Create a new payment. </span>
    </li>
    <li>
        <a href="/TuitionFees/SearchByMonth"><i class="fas fa-paperclip"></i> Get By Month</a> <span class="category-description"><i class="fas fa-angle-right"></i> Get all payments for the selected month. </span>
    </li>
    <li>
        <a href="/TuitionFees/Search"><i class="fas fa-paperclip"></i> Search</a> <span class="category-description"><i class="fas fa-angle-right"></i> Search for the payments. </span>
    </li>
    <li>
        <a href="/TuitionFees/Check"><i class="fas fa-paperclip"></i> Chenck Tuition Fee</a> <span class="category-description"><i class="fas fa-angle-right"></i> Check which students have not paid for the selected month and earlier. </span>
    </li>
</ul>
<p class="forTest" style="margin-top: 10px;">for testing - @Html.ActionLink("Get All", "GetAll")</p>

<p style="margin-top: 100px;">
    <a href="/Home" class="btn btn-default"><i class="fas fa-undo-alt"></i> Back to Main Page</a>
</p>