

@{
    ViewBag.Title = "Index";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Index</h2>


<ul class="category">
    <li>
        <a href="/Students/Create"><i class="fas fa-paperclip"></i> Create New</a> <span class="category-description"><i class="fas fa-angle-right"></i> Create a new student. </span>
    </li>
    <li>
        <a href="/Students/GetAll"><i class="fas fa-paperclip"></i> Get All</a> <span class="category-description"><i class="fas fa-angle-right"></i> Get a list of all students. </span>
    </li>
    <li>
        <a href="/Students/Search"><i class="fas fa-paperclip"></i> Search</a> <span class="category-description"><i class="fas fa-angle-right"></i> Search for students by Sudent Id, Name, Department etc. </span>
    </li>
</ul>

<p style="margin-top: 100px;">
    <a href="/Home" class="btn btn-default"><i class="fas fa-undo-alt"></i> Back to Main Page</a>
</p>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p>
        @Html.ActionLink("Get All", "GetAll")
    </p>
    <p>
        @Html.ActionLink("Search", "Search")
    </p>
    <br />
    <p>
        @Html.ActionLink("Back to Main Page", "Index", "Home")
    </p>*@