
@{
    ViewBag.Title = "Index";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Index</h2>



<ul class="category">
    <li>
        <a href="/Reports/Monthly"><i class="fas fa-paperclip"></i> Get Monthly Report</a> <span class="category-description"><i class="fas fa-angle-right"></i> Get a monthly report. </span>
    </li>
</ul>



<p style="margin-top: 100px;">
    <a href="/Home" class="btn btn-default"><i class="fas fa-undo-alt"></i> Back to Main Page</a>
</p>