@{
    ViewBag.Title = "Home Page";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="jumbotron">
    <h1 class="title"><i class="fas fa-user-graduate"></i> Ghazi Amanullah Khan Medical Institute</h1>
    <p class="lead">- Final semester project by Kifayat & Zhemin</p>
    @*<p><a href="/Students" class="btn btn-primary btn-lg">List of students &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Students" class="title-container">
            <span class="title">Sudent</span>
            <span class="description">
                <i class="fas fa-paperclip"></i> Manage students <br />
                <i class="fas fa-paperclip"></i> Search for students
            </span>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/TuitionFees" class="title-container">
            <span class="title">Tution Fee</span>
            <span class="description">
                <i class="fas fa-paperclip"></i> Manage payments <br />
                <i class="fas fa-paperclip"></i> Get payments by month <br />
                <i class="fas fa-paperclip"></i> Check tuition fee
            </span>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Staffs" class="title-container">
            <span class="title">Staff</span>
            <span class="description">
                <i class="fas fa-paperclip"></i> Manage Staff <br />
                <i class="fas fa-paperclip"></i> Search for Staff
            </span>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Expenses" class="title-container">
            <span class="title">Expense</span>
            <span class="description">
                <i class="fas fa-paperclip"></i> Manage expenses <br />
                <i class="fas fa-paperclip"></i> Search for expenses
            </span>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Reports" class="title-container">
            <span class="title">Report</span>
            <span class="description">
                <i class="fas fa-paperclip"></i> Get monnthly report <br />
            </span>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Home/NotYet" class="title-container">
            <span class="title">Scholarship</span>
            <span class="description">
                <i class="fas fa-paperclip"></i> NOT YET <br />
            </span>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Administrators" class="title-container">
            <span class="title">Administrator</span>
            <span class="description">
                <i class="fas fa-paperclip"></i> Manage Administrators <br />
                <i class="fas fa-paperclip"></i> Search for Administrators
            </span>
        </a>
    </div>

    @*<div>
            @Html.ActionLink("List of students", "Index", "Students")
        </div>*@

    @*<p><a class="btn btn-default" href="/Students">Click &raquo;</a></p>*@
</div>