

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ul class="category">
    <li>
        <a href="/Staffs/Create"><i class="fas fa-paperclip"></i> Create New</a> <span class="category-description"><i class="fas fa-angle-right"></i> Create a new staff. </span>
    </li>
    <li>
        <a href="/Staffs/GetAll"><i class="fas fa-paperclip"></i> Get All</a> <span class="category-description"><i class="fas fa-angle-right"></i> Get a list of all staff. </span>
    </li>
    <li>
        <a href="/Staffs/Search"><i class="fas fa-paperclip"></i> Search</a> <span class="category-description"><i class="fas fa-angle-right"></i> Search for staff by Name, Job Title etc. </span>
    </li>
</ul>

<p style="margin-top: 100px;">
    <a href="/Home" class="btn btn-default"><i class="fas fa-undo-alt"></i> Back to Main Page</a>
</p>